name: CI

on: [push, pull_request]

jobs:
  rb1_xbox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd rb1/
          chmod +x dependencies/python/configure_build.py
          chmod +x dependencies/python/gen_version.py
          chmod +x dependencies/python/png_list.py
          chmod +x dependencies/linux/ninja
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/dtacheck
          chmod +x dependencies/linux/superfreq
          chmod +x dependencies/linux/swap_art_bytes
          dependencies/python/configure_build.py xbox
          dependencies/linux/ninja
      - name: Remove .gitkeep
        run: |
          find . -name ".gitkeep" -type f -delete
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: RB1-Patch-Xbox
          path: rb1/out/xbox

  rb1_ps3:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - uses: GuillaumeFalourd/command-output-file-action@v1.1
        with:
          command_line: echo InstallDirectory = BLUS30050
          output_file_name: rb1/ps3_package.conf
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd rb1/
          python dependencies/python/configure_build.py ps3
          dependencies/windows/ninja.exe
      - name: Build PKG
        run: |
          $sha_short="$(git rev-parse --short HEAD)".ToUpper()
          $content="UP1018-BLUS30050_00-RB1PATCHH"
          $packageversion="1.07"
          rb1/dependencies/windows/make_package_npdrm_retail.exe --k-licensee 0x00000000000000000000000000000000 --drm-type Local --package-version $packageversion --content-type GameData --content-id ($content + $sha_short) rb1/dependencies/package.conf rb1/out/ps3
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: RB1-Patch-PS3
          path: 'rb1/*.pkg'

  lrb_xbox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd lrb/
          chmod +x dependencies/python/configure_build.py
          chmod +x dependencies/python/gen_version.py
          chmod +x dependencies/python/png_list.py
          chmod +x dependencies/linux/ninja
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/dtacheck
          chmod +x dependencies/linux/superfreq
          chmod +x dependencies/linux/swap_art_bytes
          dependencies/python/configure_build.py xbox
          dependencies/linux/ninja
      - name: Remove .gitkeep
        run: |
          find . -name ".gitkeep" -type f -delete
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: LRB-Patch-Xbox
          path: lrb/out/xbox

  lrb_ps3:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - uses: GuillaumeFalourd/command-output-file-action@v1.1
        with:
          command_line: echo InstallDirectory = BLUS30050
          output_file_name: lrb/ps3_package.conf
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd lrb/
          python dependencies/python/configure_build.py ps3
          dependencies/windows/ninja.exe
      - name: Build PKG
        run: |
          $sha_short="$(git rev-parse --short HEAD)".ToUpper()
          $content="UP1018-BLUS30382_00-LRBPATCHH"
          $packageversion="1.01"
          lrb/dependencies/windows/make_package_npdrm_retail.exe --k-licensee 0x00000000000000000000000000000000 --drm-type Local --package-version $packageversion --content-type GameData --content-id ($content + $sha_short) lrb/dependencies/package.conf lrb/out/ps3
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: LRB-Patch-PS3
          path: 'lrb/*.pkg'

  tbrb_xbox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd tbrb/
          chmod +x dependencies/python/configure_build.py
          chmod +x dependencies/python/gen_version.py
          chmod +x dependencies/python/png_list.py
          chmod +x dependencies/linux/ninja
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/dtacheck
          chmod +x dependencies/linux/superfreq
          chmod +x dependencies/linux/swap_art_bytes
          dependencies/python/configure_build.py xbox
          dependencies/linux/ninja
      - name: Remove .gitkeep
        run: |
          find . -name ".gitkeep" -type f -delete
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: TBRB-Patch-Xbox
          path: tbrb/out/xbox

  tbrb_ps3:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - uses: GuillaumeFalourd/command-output-file-action@v1.1
        with:
          command_line: echo InstallDirectory = BLUS30050
          output_file_name: tbrb/ps3_package.conf
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd tbrb/
          python dependencies/python/configure_build.py ps3
          dependencies/windows/ninja.exe
      - name: Build PKG
        run: |
          $sha_short="$(git rev-parse --short HEAD)".ToUpper()
          $content="UP0006-BLUS30282_00-TBRBPATCH"
          $packageversion="1.00"
          tbrb/dependencies/windows/make_package_npdrm_retail.exe --k-licensee 0x00000000000000000000000000000000 --drm-type Local --package-version $packageversion --content-type GameData --content-id ($content + $sha_short) tbrb/dependencies/package.conf tbrb/out/ps3
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: TBRB-Patch-PS3
          path: 'tbrb/*.pkg'

  gdrb_xbox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd gdrb/
          chmod +x dependencies/python/configure_build.py
          chmod +x dependencies/python/gen_version.py
          chmod +x dependencies/python/png_list.py
          chmod +x dependencies/linux/ninja
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/dtacheck
          chmod +x dependencies/linux/superfreq
          chmod +x dependencies/linux/swap_art_bytes
          dependencies/python/configure_build.py xbox
          dependencies/linux/ninja
      - name: Remove .gitkeep
        run: |
          find . -name ".gitkeep" -type f -delete
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: GDRB-Patch-Xbox
          path: gdrb/out/xbox

  gdrb_ps3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          cd gdrb/
          chmod +x dependencies/python/configure_build.py
          chmod +x dependencies/python/gen_version.py
          chmod +x dependencies/python/png_list.py
          chmod +x dependencies/linux/ninja
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/dtacheck
          chmod +x dependencies/linux/superfreq
          chmod +x dependencies/linux/swap_art_bytes
          dependencies/python/configure_build.py ps3
          dependencies/linux/ninja
      - name: Remove .gitkeep
        run: |
          find . -name ".gitkeep" -type f -delete
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: GDRB-Patch-PS3
          path: gdrb/out/ps3